"""Example tests.

Remove this and other example files after bootstrapping your project.
"""

from {{ package_dir }}.example import double


def test_example() -> None:
    """Example Test"""
    assert double(10) == 10 * 2
