# cmem-plugin-{{ project_slug }}

{{ project_description }}

[![eccenca Corporate Memory](https://img.shields.io/endpoint?url=https://dev.documentation.eccenca.com/badge.json)](https://documentation.eccenca.com) {% if github_page -%}[![workflow]({{ github_page }}/actions/workflows/check.yml/badge.svg)]({{ github_page}}/actions){%- endif %} {% if pypi -%}[![pypi version](https://img.shields.io/pypi/v/cmem-plugin-{{ project_slug }})](https://pypi.org/project/{{ project_slug}}){%- endif %} {% if pypi -%}[![license](https://img.shields.io/pypi/l/cmem-plugin-{{ project_slug }})](https://pypi.org/project/cmem-plugin-{{ project_slug}}){%- endif %}

## Development

- Run [task](https://taskfile.dev/) to see all major development tasks.
- Use [pre-commit](https://pre-commit.com/) to avoid errors before commit.
- This repository was created with [this copier template](https://github.com/eccenca/cmem-plugin-template).

