# cmem-plugin-[[ project_slug ]]

[[ project_description ]]

## Development

- Run [task](https://taskfile.dev/) to see all major development tasks
- Use [pre-commit](https://pre-commit.com/) to avoid errors before commit
- This repository was created with [this]() [copier](https://copier.readthedocs.io/) template.

